---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap');

body {
    background-color: #fff4f4;
}

.markdown-body {
    font-family: "Open Sans";
    font-weight: 300;
}
.container-lg {
    max-width: 50em;
}

.markdown-body h1 {
    font-variant: small-caps;
    border-bottom-color: #9b9b9b;
}

.footer {
    border-top: 1px solid #9b9b9b;
    padding-top: 1em;
}

a {
    color: inherit;
    text-decoration: dotted underline #888;
    transition:cubic-bezier(1, 0, 0, 1);
    transition-duration: 0.2s;
}
a:hover {
    color: #000;
    text-decoration: dotted underline #000;
}

.home-image {
    float: right;
    width: 200px;
    display:none;
}